/*Color de fondo*/
body {
  background-color: #f9f6ee;
}
/*Color de texto y posicion centrada*/
h1, h2, h3, {
  color: black;
  text-align: center;
}

/*Navegacion*/
ul {
  list-style-type: none;
  margin: 30%;
  padding: 0;
  overflow: hidden;
  background-color: #f7d0d0;
  display: flex;
  justify-content: center;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  padding: 10%;
  text-decoration: none;
}
ul li a:hover {
  background-color: #e18a97;
}
/*Centrar elemento*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Poner elementos uno al lado del otro*/
.inlineblock {
  display: inline-block;
}
/*Seccion 1*/
.seccion1 {
background-image: url("url de foto");
}